body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
}

@import "tailwindcss";

@plugin "daisyui" {
  themes:
    dark --default,
    light --prefersdark;
}

@plugin "daisyui/theme" {
  name: "light";

  --color-base-100: #f3f4f6;
  --color-base-content: #000000;

  --color-primary: #000000;
  --color-secondary: #6b7280;

  --color-neutral: #f3f4f6;
}

@plugin "daisyui/theme" {
  name: "dark";

  --color-base-100: #212730;
  --color-base-content: #ffffff;

  --color-primary: #ffffff;
  --color-secondary: #9ca3af;

  --color-neutral: #1f2937;
}
